<div class="btn-group btn-group-justified" role="group">
  <div class="btn-group" role="group"><%= button_to 'My profile', create_or_show_profile, method: :get, class: 'btn btn-default' %></div>
  <div class="btn-group" role="group"><%= button_to 'All profiles', profiles_path, method: :get, class: 'btn btn-default' %></div>
  <div class="btn-group" role="group"><%= button_to 'Chat rooms', home_index_path, method: :get, class: 'btn btn-default' %></div>
  <div class="btn-group" role="group"><%= button_to 'Friendship manager', friendships_path, method: :get, class: 'btn btn-default' %></div>
</div><br>